body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0;
    /* background-color: blanchedalmond; */
    text-align: center;
}

#btn0,
#btn1,
#btn2,
#btn3 {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    background-color: #778897;
    font-size: 20px;
    color: #ffffff;
    margin: 10px 40px 10px 0px;
    padding: 10px;
    border: 1px solid #1d3a6c;
}

#btn0:hover,
#btn1:hover,
#btn2:hover,
#btn3:hover {
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: #1d3a6c;
    box-shadow: inset 0 0 0 3px white;
}

.hide {
    display: none !important;
}

#btnClick {
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    background-color: #778897;
    font-size: 20px;
    color: #ffffff;
    margin: 10px 40px 10px 0px;
    padding: 10px;
    border: 1px solid #1d3a6c;
}

#btnClick:hover {
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0);
    color: #1d3a6c;
    box-shadow: inset 0 0 0 3px white;
}

#next {
    display: block;
    margin: 0 auto;
}

div.buttons {
    padding-left: 15px;
}

.wrapper {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    border: 1px solid darkblue;
    padding: 30px;
    border-radius: 17px;
}